@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.banner{
    background:url("https://cdn1.epicgames.com/ue/item/Blacksmith_Forge_1-1920x1080-c4681a6c13e8e5be8e8f112b4e71a162.png");
}
.banner-transp {
    background-color: rgba(245, 245, 245, 0.27);  
}
/*.carousel-caption-transp {background-color: rgba(245, 245, 245, 0.2);  }*/

/**Back to top*/
.totop {
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 50px;
    display:none;
}
/**Back to top*/