* {margin: 0; padding:0, box-sizing: border-box; /*font-family: 'Bad Script', cursive;*/
font-family: Arial; line-height: 2em; color: 1c1c1c }
body{background-color: #fff;}
ul {list-style: none;}
a {text-decoration: none;}
img {max-width: 100%};

@media screen and (max-width: 480px){

}
@media screen and (min-width: 1200px){
    .container{
        display: grid;
        grid-template-columns: 70% 30%;
        justify-content: space-between;
        grid-template-areas: 
        "nav    nav   "
        "header header"
        "article aside"
        "footer footer"
        ;
    }
    nav {
        grid-area: nav;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: 
        "logo menu"
        ; 
        background-color: rgba(160, 150, 108,0.3);       
    }
    .logo {
        grid-area: logo;
        padding: 20px 50px;
    }
    .menu{
        grid-area: menu;
        text-align: center;       
    }
    .menu li {
        display: inline-block;
        padding: 30px;
        font-weight: bold;
        font-size: 17px;
    }
    .menu a {
        color: rgb(13, 70, 36)
    }
    header{
        grid-area: header;       
    }
    .home {
        background-image: url("../img/banner-header.jpg");       
        text-align: center;
        padding: 150px;
    }
    .home-2{
        background-color: rgba(152, 192, 252, 0.4);        
    }
   article{
        grid-area: article;       
    }
    .slide{
        display: grid;
        grid-template-columns: 65% 35%;
        background-color: #82695F;
        grid-template-areas:
        "slide-img slide-text"
        "slide-thumbs slide-thumbs"
        ;
        align-items: center;
        justify-items: center;
        padding: 10px;
    }
    .slide-img {
        grid-area: slide-img; 
        margin-right: 5%;
    }
    .slide-text {
        grid-area: slide-text;
    }
    .slide-thumbs {
        grid-area: slide-thumbs;
        display: grid;
        grid-template-columns: repeat(5, 19%);
        justify-content: space-between;
        padding: 10px;
        background-color: rgba(250, 231, 168,0.5);
    }
    .news{
        display: grid;
        margin-top: 30px;
        grid-row-gap: 30px;
    }
    .news-parts{
        display: grid;
        grid-template-columns: 40% 60%;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;       
        /*não precisa do grid-template-areas por ocupar
        todo o espaço*/
    }
    .news-img{
        width: 18em;
        margin-right: 5%;
    }
    aside {
        grid-area: aside;
        height: 200px;
        
    }
    footer {        
        grid-area: footer;
        height: 50px;
        text-align: center;
        padding: 30px;
        background-color: rgba(160, 150, 108,0.3);
    }

}